body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  /* vertical-align: bottom; */
}

/* ---- particles ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0c0e27;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.container
{
  max-width: 30rem;
  padding-top: 3rem;
}

.card
{
  border: none;
  /* border: 1px solid #0c0e27; */
  border-radius: 1rem;
}

.card > header
{
  background-color: rgb(0, 32, 90);
  background-image: url("../img/back_profile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  align-items: center;
  text-align: center;
  padding: 4rem 3rem;
}

.card > header > .card-logo
{
  width: 9rem;
  border-radius: 3px solid green;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.card > header > .card-title
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card > header > .card-subtitle
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card > main
{
  padding: 0.5rem;
}

.card > main > .col
{
  align-items: center;
}


.content-links > li
{
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-links > li > .btn
{
  border-radius: 1rem;
  width: 10rem;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.content-links > li > .btn > .feather
{
  width: 1rem;
}

/* .card-footer
{
  /* // italic */
} */
